@import "dseg/css/dseg.css";

.App {
  text-align: center;

  &-logo {
    height: 10vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    &-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: DSEG14-Modern;
    font-weight: bold;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 8px;
  }

  &-link {
    color: #61dafb;
  }
  .main {
    background-color: #32363e;
  }

  .timer {
    display: inline-block;
    font-family: DSEG7-Classic;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    background-color: #1e222a;
    color: #40a040;
    padding: 8px;
    margin: 8px auto;
  }

  .buttons {
    padding: 4px 0 32px;
    button {
      font-family: DSEG14-Modern;
      font-weight: bold;
      color: #ccc;
      background-color: #5a5e66;
      border: #464a52;
      border-radius: 5px;
      padding: 4px 6px;
      margin: 2px 4px;
      cursor: pointer;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
